NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MAP_API_KEY=

# PostgreSQL / PostGIS (docker compose lee estas variables desde el .env)
POSTGRES_DB=mapa_usm_cc
POSTGRES_USER=mapa_usm_dev
POSTGRES_PASSWORD=mapa_usm_lyoss_pass

# Database (prisma)
DATABASE_URL="postgresql://mapa_usm_dev:mapa_usm_lyoss_pass@localhost:5432/mapa_usm_cc"
